# ==============================================================================
# WARNING: This is an experimental file. Installation is likely to be slow and fail.
# It is NOT the recommended standard for managing Python dependencies.
# ==============================================================================

git+https://github.com/aio-libs/aiobotocore.git@2.18.0#egg=aiobotocore
# Original line for aiohappyeyeballs, repo not found
# aiohappyeyeballs==2.4.4
git+https://github.com/aio-libs/aiohttp.git@v3.11.11#egg=aiohttp
git+https://github.com/inyutin/aiohttp-retry.git@v2.9.1#egg=aiohttp-retry
git+https://github.com/aio-libs/aioitertools.git@v0.12.0#egg=aioitertools
git+https://github.com/aio-libs/aiosignal.git@v1.3.2#egg=aiosignal
git+https://github.com/altair-viz/altair.git@v5.5.0#egg=altair
git+https://github.com/celery/py-amqp.git@5.3.1#egg=amqp
git+https://github.com/pydantic/annotated-types.git@v0.7.0#egg=annotated-types
git+https://github.com/antlr/antlr4.git@4.9.3#egg=antlr4-python3-runtime
git+https://github.com/python-trio/anyio.git@4.7.0#egg=anyio
git+https://github.com/ActiveState/appdirs.git@1.4.4#egg=appdirs
git+https://github.com/hynek/argon2-cffi.git@v23.1.0#egg=argon2-cffi
git+https://github.com/hynek/argon2-cffi-bindings.git@21.2.0#egg=argon2-cffi-bindings
git+https://github.com/arrow-py/arrow.git@v1.3.0#egg=arrow
git+https://github.com/gristlabs/asttokens.git@3.0.0#egg=asttokens
git+https://github.com/aio-libs/async-lru.git@v2.0.4#egg=async-lru
git+https://github.com/ronf/asyncssh.git@v2.19.0#egg=asyncssh
# Original line for atpublic, repo not found
# atpublic==5.0
git+https://github.com/python-attrs/attrs.git@24.3.0#egg=attrs
git+https://github.com/python-babel/babel.git@v2.16.0#egg=babel
# Original line for beautifulsoup4, repo not found
# beautifulsoup4==4.12.3
git+https://github.com/celery/billiard.git@v4.2.1#egg=billiard
git+https://github.com/mozilla/bleach.git@v6.2.0#egg=bleach
git+https://github.com/pallets-eco/blinker.git@1.9.0#egg=blinker
git+https://github.com/bokeh/bokeh.git@3.6.2#egg=bokeh
git+https://github.com/boto/boto3.git@1.36.1#egg=boto3
git+https://github.com/boto/botocore.git@1.36.1#egg=botocore
git+https://github.com/tkem/cachetools.git@v5.5.0#egg=cachetools
git+https://github.com/scikit-learn-contrib/category_encoders.git@v2.6.4#egg=category-encoders
git+https://github.com/celery/celery.git@v5.4.0#egg=celery
git+https://github.com/certifi/python-certifi.git@2024.12.14#egg=certifi
git+https://github.com/cffi/cffi.git@v1.17.1#egg=cffi
git+https://github.com/chardet/charset-normalizer.git@3.4.1#egg=charset-normalizer
git+https://github.com/pallets/click.git@8.1.8#egg=click
# Original line for click-didyoumean, repo not found
# click-didyoumean==0.3.1
git+https://github.com/click-contrib/click-plugins.git@1.1.1#egg=click-plugins
# Original line for click-repl, repo not found
# click-repl==0.3.0
git+https://github.com/cloudpipe/cloudpickle.git@v3.1.0#egg=cloudpickle
git+https://github.com/tartley/colorama.git@0.4.6#egg=colorama
git+https://github.com/ipython/comm.git@v0.2.2#egg=comm
# Original line for configobj, repo not found
# configobj==5.0.9
git+https://github.com/contourpy/contourpy.git@v1.3.1#egg=contourpy
git+https://github.com/pyca/cryptography.git@44.0.0#egg=cryptography
git+https://github.com/matplotlib/cycler.git@v0.12.1#egg=cycler
git+https://github.com/dask/dask.git@2024.12.1#egg=dask
# Original line for dask-expr, repo not found
# dask-expr==1.1.21
git+https://github.com/microsoft/debugpy.git@v1.8.11#egg=debugpy
git+https://github.com/micheles/decorator.git@5.1.1#egg=decorator
git+https://github.com/tiran/defusedxml.git@v0.7.1#egg=defusedxml
git+https://github.com/inveniosoftware/dictdiffer.git@v0.9.0#egg=dictdiffer
git+https://github.com/grantjenks/python-diskcache.git@v5.6.3#egg=diskcache
git+https://github.com/dask/distributed.git@2024.12.1#egg=distributed
# Original line for distro, repo not found
# distro==1.9.0
git+https://github.com/dpath-maintainers/dpath-python.git@2.2.0#egg=dpath
git+https://github.com/jelmer/dulwich.git@dulwich-0.22.7#egg=dulwich
git+https://github.com/iterative/dvc.git@3.58.0#egg=dvc
git+https://github.com/iterative/dvc-data.git@3.16.7#egg=dvc-data
git+https://github.com/iterative/dvc-http.git@2.32.0#egg=dvc-http
git+https://github.com/iterative/dvc-objects.git@5.1.0#egg=dvc-objects
git+https://github.com/iterative/dvc-render.git@1.0.2#egg=dvc-render
git+https://github.com/iterative/dvc-s3.git@3.2.0#egg=dvc-s3
git+https://github.com/iterative/dvc-studio-client.git@0.21.0#egg=dvc-studio-client
git+https://github.com/iterative/dvc-task.git@0.40.2#egg=dvc-task
# Original line for entrypoints, repo not found
# entrypoints==0.4
git+https://github.com/alexmojaki/executing.git@2.1.0#egg=executing
git+https://github.com/horejsek/python-fastjsonschema.git@2.21.1#egg=fastjsonschema
git+https://github.com/tox-dev/py-filelock.git@3.16.1#egg=filelock
git+https://github.com/ianozsvald/flatten_dict.git@v0.4.2#egg=flatten-dict
git+https://github.com/flufl/flufl.lock.git@flufl.lock-8.1.0#egg=flufl.lock
git+https://github.com/fonttools/fonttools.git@4.55.3#egg=fonttools
git+https://github.com/python-hyper/fqdn.git@1.5.1#egg=fqdn
git+https://github.com/aio-libs/frozenlist.git@v1.5.0#egg=frozenlist
git+https://github.com/fsspec/fsspec.git@2024.12.0#egg=fsspec
git+https://github.com/Suor/funcy.git@2.0#egg=funcy
git+https://github.com/gitpython-developers/gitdb.git@4.0.12#egg=gitdb
git+https://github.com/gitpython-developers/GitPython.git@3.1.44#egg=GitPython
git+https://github.com/dask/grandalf.git@v0.8#egg=grandalf
git+https://github.com/iterative/gto.git@v1.7.2#egg=gto
git+https://github.com/python-hyper/h11.git@v0.14.0#egg=h11
git+https://github.com/encode/httpcore.git@1.0.7#egg=httpcore
git+https://github.com/encode/httpx.git@0.28.1#egg=httpx
git+https://github.com/facebookresearch/hydra.git@v1.3.2#egg=hydra-core
git+https://github.com/kjd/idna.git@v3.10#egg=idna
git+https://github.com/pytest-dev/iniconfig.git@v2.0.0#egg=iniconfig
git+https://github.com/ipython/ipykernel.git@6.29.5#egg=ipykernel
git+https://github.com/ipython/ipython.git@8.31.0#egg=ipython
git+https://github.com/gammapy/isoduration.git@v20.11.0#egg=isoduration
git+https://github.com/iterative/telemetry.git@0.0.9#egg=iterative-telemetry
git+https://github.com/davidhalter/jedi.git@v0.19.2#egg=jedi
git+https://github.com/pallets/jinja.git@3.1.5#egg=Jinja2
git+https://github.com/jmespath/jmespath.py.git@1.0.1#egg=jmespath
git+https://github.com/joblib/joblib.git@1.4.2#egg=joblib
git+https://github.com/dpranke/pyjson5.git@v0.10.0#egg=json5
git+https://github.com/recommon-be/jsonpointer.git@v3.0.0#egg=jsonpointer
git+https://github.com/python-jsonschema/jsonschema.git@v4.23.0#egg=jsonschema
git+https://github.com/python-jsonschema/jsonschema-specifications.git@2024.10.1#egg=jsonschema-specifications
git+https://github.com/jupyter/events.git@0.11.0#egg=jupyter-events
git+https://github.com/jupyter-lsp/jupyter-lsp.git@v2.2.5#egg=jupyter-lsp
git+https://github.com/jupyter/jupyter_client.git@8.6.3#egg=jupyter_client
git+https://github.com/jupyter/jupyter_core.git@5.7.2#egg=jupyter_core
git+https://github.com/jupyter-server/jupyter_server.git@v2.15.0#egg=jupyter_server
git+https://github.com/jupyter-server/jupyter_server_terminals.git@v0.5.3#egg=jupyter_server_terminals
git+https://github.com/jupyterlab/jupyterlab.git@v4.3.4#egg=jupyterlab
git+https://github.com/jupyterlab/jupyterlab_pygments.git@v0.3.0#egg=jupyterlab_pygments
git+https://github.com/jupyterlab/jupyterlab_server.git@v2.27.3#egg=jupyterlab_server
git+https://github.com/nucleic/kiwisolver.git@1.4.8#egg=kiwisolver
git+https://github.com/celery/kombu.git@v5.4.2#egg=kombu
git+https://github.com/dask/locket.git@1.0.0#egg=locket
git+https://github.com/python-lz4/python-lz4.git@v4.3.3#egg=lz4
git+https://github.com/executablebooks/markdown-it-py.git@v3.0.0#egg=markdown-it-py
git+https://github.com/pallets/markupsafe.git@3.0.2#egg=MarkupSafe
git+https://github.com/matplotlib/matplotlib.git@v3.10.0#egg=matplotlib
git+https://github.com/ipython/matplotlib-inline.git@v0.1.7#egg=matplotlib-inline
git+https://github.com/markdown-it/mdurl-py.git@v0.1.2#egg=mdurl
git+https://github.com/lepture/mistune.git@v3.1.0#egg=mistune
git+https://github.com/msgpack/msgpack-python.git@v1.1.0#egg=msgpack
git+https://github.com/aio-libs/multidict.git@6.1.0#egg=multidict
# Original line for narwhals, repo not found
# narwhals==1.20.1
git+https://github.com/jupyter/nbclient.git@v0.10.2#egg=nbclient
git+https://github.com/jupyter/nbconvert.git@7.16.5#egg=nbconvert
git+https://github.com/jupyter/nbformat.git@v5.10.4#egg=nbformat
git+https://github.com/erdewit/nest_asyncio.git@1.6.0#egg=nest-asyncio
git+https://github.com/networkx/networkx.git@networkx-3.4.2#egg=networkx
git+https://github.com/jupyter/notebook.git@v7.3.2#egg=notebook
git+https://github.com/jupyter/notebook_shim.git@0.2.4#egg=notebook_shim
git+https://github.com/numpy/numpy.git@v2.2.1#egg=numpy
git+https://github.com/omry/omegaconf.git@v2.3.0#egg=omegaconf
git+https://github.com/rossmacarthur/orjson-py.git@3.10.13#egg=orjson
git+https://github.com/m-byte/overrides.git@v7.7.0#egg=overrides
git+https://github.com/pypa/packaging.git@24.2#egg=packaging
git+https://github.com/pandas-dev/pandas.git@v2.2.3#egg=pandas
git+https://github.com/jgm/pandocfilters.git@1.5.1#egg=pandocfilters
git+https://github.com/davidhalter/parso.git@v0.8.4#egg=parso
git+https://github.com/dask/partd.git@1.4.2#egg=partd
git+https://github.com/cpburnz/python-path-specification.git@v0.12.1#egg=pathspec
# Original line for patsy, repo not found
# patsy==1.0.1
git+https://github.com/python-pillow/Pillow.git@11.1.0#egg=pillow
git+https://github.com/platformdirs/platformdirs.git@4.3.6#egg=platformdirs
git+https://github.com/pytest-dev/pluggy.git@v1.5.0#egg=pluggy
git+https://github.com/prometheus/client_python.git@v0.21.1#egg=prometheus_client
git+https://github.com/prompt-toolkit/python-prompt-toolkit.git@3.0.48#egg=prompt_toolkit
# Original line for propcache, repo not found
# propcache==0.2.1
git+https://github.com/protocolbuffers/protobuf.git@v5.29.2#egg=protobuf
git+https://github.com/giampaolo/psutil.git@release-6.1.1#egg=psutil
git+https://github.com/alexmojaki/pure_eval.git@0.2.3#egg=pure_eval
git+https://github.com/apache/arrow.git@apache-arrow-18.1.0#egg=pyarrow
git+https://github.com/eliben/pycparser.git@v2.22#egg=pycparser
git+https://github.com/pydantic/pydantic.git@v2.10.4#egg=pydantic
git+https://github.com/pydantic/pydantic-core.git@v2.27.2#egg=pydantic_core
git+https://github.com/deckgl/deck.gl.git@v0.9.1#egg=pydeck
git+https://github.com/pydot/pydot.git@v3.0.3#egg=pydot
git+https://github.com/libgit2/pygit2.git@v1.16.0#egg=pygit2
git+https://github.com/pygments/pygments.git@2.18.0#egg=Pygments
git+https://github.com/google/pygtrie.git@v2.5.0#egg=pygtrie
# Original line for pyparsing, repo not found
# pyparsing==3.2.1
git+https://github.com/pytest-dev/pytest.git@8.3.4#egg=pytest
git+https://github.com/dateutil/dateutil.git@2.9.0.post0#egg=python-dateutil
git+https://github.com/thangbn/json-log-formatter.git@3.2.1#egg=python-json-logger
git+https://github.com/stub42/pytz.git@2024.2#egg=pytz
git+https://github.com/yaml/pyyaml.git@6.0.2#egg=PyYAML
git+https://github.com/zeromq/pyzmq.git@v26.2.0#egg=pyzmq
git+https://github.com/python-jsonschema/referencing.git@v0.35.1#egg=referencing
git+https://github.com/psf/requests.git@v2.32.3#egg=requests
git+https://github.com/sven-da/rfc3339-validator.git@v0.1.4#egg=rfc3339-validator
git+https://github.com/naimetti/rfc3986-validator.git@v0.1.1#egg=rfc3986-validator
git+https://github.com/Textualize/rich.git@v13.9.4#egg=rich
git+https://github.com/crate-py/rpds.git@0.22.3#egg=rpds-py
git+https://sourceforge.net/p/ruamel-yaml/code/ci/0.18.8/tree/#egg=ruamel.yaml
git+https://sourceforge.net/p/ruamel-yaml-clib/code/ci/0.2.12/tree/#egg=ruamel.yaml.clib
git+https://github.com/fsspec/s3fs.git@2024.12.0#egg=s3fs
git+https://github.com/boto/s3transfer.git@0.11.1#egg=s3transfer
git+https://github.com/scikit-learn/scikit-learn.git@1.6.0#egg=scikit-learn
git+https://github.com/scipy/scipy.git@v1.14.1#egg=scipy
git+https://github.com/iterative/scmrepo.git@3.3.9#egg=scmrepo
git+https://github.com/mwaskom/seaborn.git@v0.13.2#egg=seaborn
git+https://github.com/python-semver/semver.git@v3.0.2#egg=semver
git+https://github.com/arsenetar/send2trash.git@v1.8.3#egg=Send2Trash
git+https://github.com/pypa/setuptools.git@v75.6.0#egg=setuptools
git+https://github.com/sarugaku/shellingham.git@1.5.4#egg=shellingham
git+https://github.com/stochastic-technologies/shortuuid.git@1.0.13#egg=shortuuid
git+https://github.com/iterative/shtab.git@1.7.1#egg=shtab
git+https://github.com/benjaminp/six.git@1.17.0#egg=six
git+https://github.com/gitpython-developers/smmap.git@5.0.2#egg=smmap
git+https://github.com/python-trio/sniffio.git@v1.3.1#egg=sniffio
git+https://github.com/grantjenks/python-sortedcontainers.git@v2.4.0#egg=sortedcontainers
git+https://github.com/facelessuser/soupsieve.git@2.6#egg=soupsieve
git+https://github.com/iterative/sqltrie.git@0.11.1#egg=sqltrie
git+https://github.com/alexmojaki/stack_data.git@0.6.3#egg=stack-data
git+https://github.com/statsmodels/statsmodels.git@v0.14.4#egg=statsmodels
git+https://github.com/streamlit/streamlit.git@1.41.1#egg=streamlit
git+https://github.com/astanin/python-tabulate.git@0.9.0#egg=tabulate
git+https://github.com/celery/tblib.git@v3.0.0#egg=tblib
git+https://github.com/jd/tenacity.git@9.0.0#egg=tenacity
git+https://github.com/jupyter/terminado.git@v0.18.1#egg=terminado
git+https://github.com/joblib/threadpoolctl.git@3.5.0#egg=threadpoolctl
git+https://github.com/Kozea/tinycss2.git@v1.4.0#egg=tinycss2
git+https://github.com/uiri/toml.git@0.10.2#egg=toml
git+https://github.com/sdispater/tomlkit.git@0.13.2#egg=tomlkit
git+https://github.com/pytoolz/toolz.git@1.0.0#egg=toolz
git+https://github.com/tornadoweb/tornado.git@v6.4.2#egg=tornado
git+https://github.com/tqdm/tqdm.git@v4.67.1#egg=tqdm
git+https://github.com/ipython/traitlets.git@5.14.3#egg=traitlets
git+https://github.com/tiangolo/typer.git@0.15.1#egg=typer
git+https://github.com/python/typeshed.git@2.9.0.20241206#egg=types-python-dateutil
git+https://github.com/python/typing_extensions.git@4.12.2#egg=typing_extensions
git+https://github.com/zoneinfo-project/tzdata.git@2024.2#egg=tzdata
git+https://github.com/uri-templates/uri-template-py.git@v1.3.0#egg=uri-template
git+https://github.com/urllib3/urllib3.git@2.3.0#egg=urllib3
git+https://github.com/celery/vine.git@v5.1.0#egg=vine
# Original line for voluptuous, repo not found
# voluptuous==0.15.2
git+https://github.com/gorakhargosh/watchdog.git@v6.0.0#egg=watchdog
git+https://github.com/jquast/wcwidth.git@0.2.13#egg=wcwidth
# Original line for webcolors, repo not found
# webcolors==24.11.1
git+https://github.com/gsnedders/python-webencodings.git@v0.5.1#egg=webencodings
git+https://github.com/websocket-client/websocket-client.git@v1.8.0#egg=websocket-client
git+https://github.com/GrahamDumpleton/wrapt.git@1.17.2#egg=wrapt
# Original line for xyzservices, repo not found
# xyzservices==2024.9.0
git+https://github.com/aio-libs/yarl.git@v1.18.3#egg=yarl
git+https://github.com/zc/zc.lockfile.git@3.0.post1#egg=zc.lockfile
git+https://github.com/dask/zict.git@3.0.0#egg=zict